---
import { getSortedCollection } from '../../content/config';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Card from '../../components/Card.astro';
import Link from '../../components/Link.astro';
import ListItem from '../../components/ListItem.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import { prose } from '../../lib/classes';

const thoughts = await getSortedCollection('thoughts');
---

<BaseLayout title="Thoughts" description="All thoughts by laymonage.">
  <Card class={prose}>
    <h1 id="thoughts" slot="header">
      <Link href="#thoughts">Thoughts</Link>
    </h1>
    <p>A collection of irregularly published thoughts.</p>
  </Card>

  {
    thoughts.length > 0 ? (
      <ol class="ml-5 list-disc">
        {thoughts!.map((thought) => (
          <ListItem>
            <Link
              href={`/thoughts/${thought.id}`}
              class="mt-4 block text-gray-700 dark:text-gray-300"
            >
              <h2 class="flex flex-col sm:flex-row items-baseline gap-x-4 gap-y-2 text-xl">
                <FormattedDate
                  class="font-semibold tabular-nums whitespace-nowrap"
                  date={thought.data.date}
                  locale="sv"
                  format={{}}
                />
                <span class="sr-only">-</span>
                {thought.data.title}
              </h2>
            </Link>
          </ListItem>
        ))}
      </ol>
    ) : (
      <p>No thoughts so far.</p>
    )
  }
</BaseLayout>
