.markdown {
  @apply text-gray-700 dark:text-gray-300 text-opacity-90;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mt-8 mb-4 font-semibold text-black dark:text-white;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  hr {
    @apply my-8;
  }

  p,
  li {
    @apply mt-6;
  }

  ul,
  ol {
    @apply ml-8;
  }

  > ul,
  > ol {
    @apply mb-8;
  }

  ul:not(.contains-task-list) {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  li {
    @apply my-2;
  }

  blockquote {
    @apply pl-4 my-4 italic border-l-4 border-gray-400 border-opacity-20 text-base;
  }

  a:not(.anchor) {
    @apply hover:underline focus:underline;
  }

  pre {
    @apply my-4;
  }

  code {
    @apply bg-gray-500 border border-gray-400 rounded border-opacity-20 bg-opacity-5 p-1;
  }

  p code,
  li code {
    @apply text-pink-600 dark:text-red-300 text-sm mx-1;
  }

  pre code {
    @apply py-4 block overflow-auto text-sm;
  }

  img {
    @apply block mx-auto rounded;
  }

  iframe,
  img,
  .mdx-image {
    @apply my-8;
  }

  figure .mdx-image:not(:only-child) {
    @apply mb-2;
  }

  .mdx-image {
    @apply flex justify-center mx-auto;
  }

  figcaption {
    @apply text-center text-sm;
  }

  /* MDX stuff */

  .task-list-item {
    input {
      @apply -ml-2 mr-2;
    }
  }

  .anchor {
    @apply invisible absolute -ml-6 w-full max-w-2xl cursor-pointer hover:visible;
    &:after {
      @apply text-gray-400;
      content: '#';
    }
  }

  [id] {
    &:hover > .anchor {
      @apply visible;
    }
  }

  .remark-code-title {
    @apply px-5 mt-4 py-3 font-mono text-sm font-bold bg-gray-200 dark:bg-gray-700 rounded-t;
  }

  .remark-code-title + div > pre {
    @apply mt-0 rounded-t-none;
  }

  .code-line {
    @apply px-4 w-max border-l-4 border-opacity-0;
  }

  .highlight-line {
    @apply bg-blue-200 dark:bg-gray-700 bg-opacity-50 border-l-4 border-gray-500;
  }

  .line-number {
    &:before {
      @apply pr-4 text-gray-400;
      content: attr(line);
    }
  }

  .twitter-tweet {
    @apply mx-auto;
  }
}
