---
import { getCollection } from 'astro:content';
import { Icon } from 'astro-icon/components';
import BaseLayout from '../layouts/BaseLayout.astro';
import Card from '../components/Card.astro';
import Link from '../components/Link.astro';
import ListItem from '../components/ListItem.astro';
import TimelineYear from '../components/TimelineYear.astro';
import NowPlaying from '../components/NowPlaying';
import * as about from '../../content/about.md';
import { prose, proseList } from '../lib/classes';

const timelineData = await getCollection('about');
const latestItems = timelineData.slice(0, 6);
const rest = timelineData.slice(6);
---

<BaseLayout title="About">
  <Card class="mb-8">
    <h2 id="me" slot="header">
      <Link href="#me">{about.frontmatter.title}</Link>
    </h2>
    <div class:list={prose}>
      {(<about.Content />)}
    </div>
    <div class="mt-6 flex justify-end">
      <NowPlaying client:idle>
        <Icon
          class="text-black dark:text-white w-full h-full"
          name="spotify"
          slot="icon"
        />
      </NowPlaying>
    </div>
  </Card>
  <Card class:list={['mb-8', prose]}>
    <h2 id="places" slot="header">
      <Link href="#places">Places</Link>
    </h2>
    <p>
      We have a world full of wonders, and it has always been my dream to see as
      much of it as possible. Up until 2019, I've spent most of my life in
      Jakarta, Indonesia, with very few short trips to visit some friends and
      family, or to attend events. Circumstances didn't allow me to leave Java
      (the island).
    </p>
    <p>
      In 2019, I visited Malaysia to attend an event for three days. That was
      the very first time I left my home country. Not long after, the world went
      into a pandemic, so I didn't get to travel again.
    </p>
    <p>
      Then I moved to the UK in late 2022 as part of my job. Since then, I've
      had the opportunity to visit many other places the world has to offer. I
      thought it'd be interesting to see them on a map, so here it is!
    </p>
    <iframe
      class="w-full min-h-96 max-h-screen my-8 rounded"
      src="https://www.google.com/maps/d/embed?mid=1rWcLp6UVtUwmgJoHFWoMhll0lwFBV54&ehbc=2E312F&noprof=1"
      title="Towns and cities I've been to"></iframe>
    <p>
      Despite living the better part of my life in Indonesia, the map shows you
      the sorry truth: I haven't had the chance to see much of my home country.
      There isn't even a marker on Bali.
    </p>
    <p>
      If you were to ask someone about places to visit in Indonesia, I'd
      probably be the last person you should ask. Let's hope this paragraph
      won't be here for long!
    </p>
  </Card>
  <Card class:list={['mb-8', prose, proseList]}>
    <h2 id="timeline" slot="header">
      <Link href="#timeline">Timeline</Link>
    </h2>
    <ol>
      {
        latestItems.map((item) => (
          <ListItem border>
            <TimelineYear {...item.data} />
          </ListItem>
        ))
      }
    </ol>
    <details>
      <summary class="alike my-4">
        <span class="ml-4">More...</span>
      </summary>
      <ol>
        {
          rest.map((item) => (
            <ListItem border>
              <TimelineYear {...item.data} />
            </ListItem>
          ))
        }
      </ol>
    </details>
  </Card>
</BaseLayout>
