---
import BaseLayout from '../layouts/BaseLayout.astro';
import Card from '../components/Card.astro';
import Link from '../components/Link.astro';
import { timelineData } from '../content.old/about';
import TimelineYear from '../components/TimelineYear.astro';

const latestItems = timelineData.slice(0, 6);
const rest = timelineData.slice(6);
---

<BaseLayout>
  <Card class="mb-8">
    <h2 id="me" slot="header">
      <Link href="#me">About me</Link>
    </h2>
    <div class="markdown">
      <!-- <MDXLayoutRenderer mdxSource={about.content as string} /> -->
    </div>
    <div class="mt-6 flex justify-end">
      <!-- <NowPlaying /> -->
    </div>
  </Card>
  <Card class="mb-8">
    <h2 id="places" slot="header">
      <Link href="#places">Places</Link>
    </h2>
    <p class="mb-4">
      We have a world full of wonders, and it has always been my dream to see as
      much of it as possible. Up until 2019, I've spent most of my life in
      Jakarta, Indonesia, with very few short trips to visit some friends and
      family, or to attend events. Circumstances didn't allow me to leave Java
      (the island).
    </p>
    <p class="mb-4">
      In 2019, I visited Malaysia to attend an event for three days. That was
      the very first time I left my home country. Not long after, the world went
      into a pandemic, so I didn't get to travel again.
    </p>
    <p class="mb-4">
      Then I moved to the UK in late 2022 as part of my job. Since then, I've
      had the opportunity to visit many other places the world has to offer. I
      thought it'd be interesting to see them on a map, so here it is!
    </p>
    <iframe
      class="w-full min-h-96 max-h-screen my-8 rounded"
      src="https://www.google.com/maps/d/embed?mid=1rWcLp6UVtUwmgJoHFWoMhll0lwFBV54&ehbc=2E312F&noprof=1"
    ></iframe>
    <p class="mb-4">
      Despite living the better part of my life in Indonesia, the map shows you
      the sorry truth: I haven't had the chance to see much of my home country.
      There isn't even a marker on Bali.
    </p>
    <p class="mb-4">
      If you were to ask someone about places to visit in Indonesia, I'd
      probably be the last person you should ask. Let's hope this paragraph
      won't be here for long!
    </p>
  </Card>
  <Card class="mb-8">
    <h2 id="timeline" slot="header">
      <Link href="#timeline">Timeline</Link>
    </h2>
    <ol class="flex flex-col gap-6">
      {
        latestItems.map((item) => (
          <li class="after:w-full after:flex after:mt-6 after:border after:border-gray-400 after:border-opacity-20 last:after:hidden">
            <TimelineYear {...item} />
          </li>
        ))
      }
    </ol>
    <details>
      <summary class="alike my-4">
        <span class="ml-4">More...</span>
      </summary>
      <ol class="flex flex-col gap-6">
        {
          rest.map((item) => (
            <li class="after:w-full after:flex after:mt-6 after:border after:border-gray-400 after:border-opacity-20 last:after:hidden">
              <TimelineYear {...item} />
            </li>
          ))
        }
      </ol>
    </details>
  </Card>
</BaseLayout>
