---
import Card from '../components/Card.astro';
import Link from '../components/Link.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  comments="eager"
  description="laymonage's guestbook. Feel free to sign it!"
  title="Guestbook"
>
  <Card>
    <h1 id="guestbook" slot="header">
      <Link href="#guestbook">Guestbook</Link>
    </h1>
    Welcome! You can sign my guestbook down below. It is powered by my very own project:
    <Link href="https://giscus.app">giscus</Link>. Feel free to write anything –
    just please be considerate :)
  </Card>
</BaseLayout>
