---
import { type CollectionEntry, render } from 'astro:content';
import CTA from '../../components/CTA.astro';
import Card from '../../components/Card.astro';
import Link from '../../components/Link.astro';
import { getContentStaticPaths } from '../../content/config';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { prose } from '../../lib/classes';

export async function getStaticPaths() {
  return await getContentStaticPaths('palates');
}
type Props = CollectionEntry<'palates'>;

const palate = Astro.props;
const { Content } = await render(palate);
---

<BaseLayout description={palate.data.description} title={palate.data.title}>
  <Card class:list={prose}>
    <h2 id="palate" slot="header">
      <Link href="#palate">{palate.data.title}</Link>
    </h2>
    <Content components={{ CTA }} />
  </Card>
</BaseLayout>
