---
import type { TimelineYear } from '../content/config';

type Props = TimelineYear;
const { id, items } = Astro.props;
---

<h3 class="text-gray-800 dark:text-gray-100">
  {id}
</h3>
<ol>
  {
    items.map((item) => (
      <li>
        <h4 class="flex text-gray-800 dark:text-gray-100">
          <span class="w-8">{item.emoji}</span>
          <span>{item.title}</span>
        </h4>
        <p class="ml-8">{item.description}</p>
      </li>
    ))
  }
</ol>
