---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Navigation from '../components/Navigation.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const { description = SITE_DESCRIPTION, title = '' } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={title ? `${title} | ${SITE_TITLE}` : SITE_TITLE}
      description={description}
    />
  </head>
  <body>
    <Navigation />
    <main
      class="flex w-full flex-col items-center p-8 sm:mt-20 reading-wrapper"
    >
      <slot />
    </main>
    <Footer />
    <div
      class="bg fixed top-0 left-0 h-screen w-screen bg-cover bg-center opacity-40 2xl:opacity-100"
    >
    </div>
  </body>
</html>
