---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Giscus from '../components/Giscus.astro';
import Navigation from '../components/Navigation.astro';
import ScrollTop from '../components/ScrollTop.astro';
import SkipLink from '../components/SkipLink.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

interface Props {
  title?: string;
  description?: string;
  comments?: boolean | 'eager';
}

const {
  description = SITE_DESCRIPTION,
  title = '',
  comments = false,
} = Astro.props;

const giscusThemes = ['light', 'transparent_dark'];
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={title ? `${title} | ${SITE_TITLE}` : SITE_TITLE}
      description={description}
    />

    {
      comments &&
        giscusThemes.map((theme) => (
          <link
            rel="prefetch"
            href={`https://giscus.app/themes/${theme}.css`}
            as="style"
            type="text/css"
            crossorigin="anonymous"
          />
        ))
    }
  </head>
  <body>
    <SkipLink />
    <Navigation />
    <div class="p-4 sm:p-8">
      <main
        id="main"
        class="mb-10 sm:mt-20 w-full reading reading-lg sm:reading-xl"
      >
        <slot />
        {comments && <Giscus class="my-8" eager={comments === 'eager'} />}
      </main>
      <Footer />
    </div>
    <ScrollTop />
    <div
      class="bg fixed top-0 left-0 h-screen w-screen bg-cover bg-center opacity-40 2xl:opacity-100"
    >
    </div>
  </body>
</html>
