@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
  scroll-behavior: smooth;
  scrollbar-color: rgb(156, 163, 175) transparent;
  scrollbar-width: thin;

  &.dark {
    scrollbar-color: rgb(55, 65, 81) transparent;
  }
}

::-webkit-scrollbar {
  @apply w-2 bg-transparent;
}

::-webkit-scrollbar-track {
  @apply bg-white dark:bg-gray-900 rounded-full;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-400 hover:bg-gray-500 dark:bg-gray-700 dark:hover:bg-gray-600 rounded-full;
}

body {
  @apply font-sans text-gray-700 dark:text-gray-300 bg-white dark:bg-gray-900;
}

a,
.alike {
  @apply text-blue-800 hover:text-blue-700 focus:text-blue-700 dark:text-blue-300 dark:hover:text-blue-200 dark:focus:text-blue-200;
}

[id]::before {
  @apply invisible block h-24 -mt-24;
  content: '';
}

.giscussions-frame {
  @apply w-full;
}
